#main-containter {
margin-bottom: 0px !important;
}
#root-footer {
margin-top: 0px !important;
}
#root-main-left-panel, #root-main-workspace{
height: 650px;
}
#data-table-customer{
height: 525px;
}
#root-main-workspace {
margin-top: 20px;
}
#data-table-customer{
/*overflow-y: scroll;*/
}
tbody tr:nth-child(odd) {
background-color: #E0E0E0;
}
tbody tr:hover {
  background-color: #95C9B7;		   
  cursor: pointer;		   
}
tr {
   font-size: 12px !important;
   border-radius: 2px !important;
}	
td {
    padding: 5px 5px !important;
    line-height: 1.0;
    border-radius: 0px !important;
}	
.row .col {
	padding: 0 2.5rem !important;
}
#page-selector li{
   font-size: 14px !important;
}
#control-panel label{
   font-size: 14px !important;
}
.btn {
	height: 25px;
    line-height: 25px;	
}
